@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  --duration: 0.2s;
  --dark-gray-color: #1e1e1e;
  --dark-color: #1f1f1f;
  --dark-color-hover: #1f1f1fd8;
  --gray: #fafafa;
  --black: #000;
  --white-gray-light: #fefeff;
  --gray-color: #bebebe;
  --gradient-blue-orange: linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
}

.main-container {
  width: auto;
  margin-inline: 30px;
}

.input {
  padding: 18px 25px;
  border-radius: 40px;
  white-space: nowrap;
  font-weight: 600;
  line-height: 24px;
  transition: var(--duration);
}
.input-light {
  background-color: var(--white-gray-light);
  color: var(--dark-color);
}
.input-dark {
  background-color: var(--dark-color);
  color: var(--white-gray-light);
}
.input-dark:hover {
  background-color: var(--dark-color-hover);
}

.input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
}
.input[type="email"] {
  font-weight: 400;
  background: var(--white-gray-light);
  padding: 18px 24px;
  width: 100%;
}

.text {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.single-text {
  font-size: 16px;
  color: var(--black);
  font-weight: 400;
  line-height: 19.2px;
}
.text-title {
  margin-block: 16px 45px;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: var(--black);
}
