.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  column-gap: 50px;
  background-color: #ffff;
}
.logo {
  width: 230px;
  height: 80px;
}
.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  background-color: #fff;
  width: 100%;
  padding: 5px 0;
}
.nav-link {
  color: rgb(5, 84, 187);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size 0.5s;
}
.nav-link:hover {
  background-size: 100% 2px;
  margin-bottom: 5px;
}
